body{

	background: #585c68;
	color: #555555;
}
#cv{
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
}
#header{
	height: 150px;
	background-color: #a9a9a9;

}
#container{

	height: auto;
	background-color: #CCC;
}
#foter{
	height: 200px;
	background-color: #aaa;
}
#profile_info{
	padding: 5px;
	width: 580px;
	margin-left: 40px;
	float: left;
}

#profile_img{
    padding-right: 40px;
    padding-top: 10px;
    width: 120px;
   	float: right;
}

#object{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height: 150px;
	background-color: white;
	
}
#education{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height:auto;
	background-color: white;
}
#research{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height: 150px;
	background-color: white;
	
}
#tecnical{
padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height: 210px;
	background-color: white;

}
#project{
    padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height: 450px;
	background-color: white;

}
#extra{ padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	height: 200px;
	background-color: white;

}
#personal{
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 20px;
	height: 450px;
	background-color: white;
}
.Objective_text{
	text-align: justify;

}
.apps_text{
	margin-right: 50px;
}
.pinfo_text{
	margin-left:100px;


}
.img{
	width: 120px;
	height: 120px;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}



table,tr, td {
  border-collapse: collapse;
   padding: 5px;
    text-align: left;
}
th{
	text-align: center;
}